
@tailwind base;
@tailwind components;
@tailwind utilities;
button {
  transition: all 0.3s ease-in-out;
}

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
.header-img{
height: fit-content;

}
body{
  background: '#f5f5f5';
}
a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
/* Add these styles to make sure the popup is visible over the dimmed background */







